.dashboard-wrapper {
    width: calc(100vw - 100px);   
    max-width: 1600px;             
    margin: 25px auto;             
    padding: 25px;                
    min-height: calc(100vh - 50px);
    border-radius: 50px;
    background-color: #272b3350;
    box-sizing: border-box;
    overflow-x: hidden;
  }

.information-part{
  display: flex;
  justify-content: space-between;
  padding-left: 25px;
  padding-right: 25px;
}


.grid {
  display: grid;
  gap: 16px;
  margin-bottom: 24px;
}



.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-2 {
  grid-template-columns: repeat(2, 1fr);
}

.card {
  background: rgba(255, 255, 255, 0.103);
  padding: 16px;
  margin: 10px;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.61);
}

.card-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  font-size: 16px;
  color: white;
}

 .card-data-service{
  gap: 3rem;
  font-size: 16px;
  padding: 1rem 1.5rem;
  padding: auto;;

}

.content-divider{
  opacity: 20%;
}
  

  @media (max-width: 500px) {
  
    .dashboard-wrapper {
        width: calc(100vw - 25px);
    }

    .information-part{
      display: flex;
      justify-content: space-between;
      padding-left: 5px;
      padding-right: 5px;
      font-size: 0.8rem;
    }

}