.dashboard-wrapper {
  width: calc(100vw - 100px);   
  max-width: 1600px;             
  margin: 25px auto;             
  padding: 25px;                
  min-height: calc(100vh - 50px);
  border-radius: 50px;
  background-color: #272b3350;
  box-sizing: border-box;
  overflow-x: hidden;
}

.information-part{
display: flex;
justify-content: space-between;
padding-left: 25px;
padding-right: 25px;
}


.grid {
display: grid;
gap: 16px;
margin-bottom: 24px;
}



.grid-3 {
grid-template-columns: repeat(3, 1fr);
}

.grid-2 {
grid-template-columns: repeat(2, 1fr);
}

.grid-4 {
grid-template-columns: repeat(4, 1fr);
}

.card {
background: rgba(255, 255, 255, 0.103);
padding: 16px;
margin: 10px;
border-radius: 16px;
box-shadow: 0 4px 12px rgba(0, 0, 0, 0.61);
}

.card-data {
display: flex;
justify-content: space-between;
align-items: center;
padding: 8px 0;
border-bottom: 1px solid rgba(255, 255, 255, 0.1);
font-size: 16px;
color: white;
}

.service-card {
background: rgba(255, 255, 255, 0.06);
border-radius: 12px;
padding: 16px;
box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
transition: transform 0.5s, box-shadow 0.5s;
}

.service-card:hover{
transform: scale(1.1); 
box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4); 
}


.service-row {
display: flex;
justify-content: space-between;
margin-bottom: 10px;
}

.label {
font-weight: 600;
color: #ccc;
background: rgba(255, 255, 255, 0.04);
padding: 4px 8px;
border-radius: 6px;
}

.content-divider{
opacity: 20%;
}

.value {
font-weight: 500;
color: #eee;
}

.status-text.online {
color: #00e676;
font-weight: 600;
}

.status-text.offline {
color: #e57373;
}

.app-status-card{
background: rgba(255, 255, 255, 0.103);
padding: 20px;
margin: 10px;
border-radius: 16px;
box-shadow: 0 4px 12px rgba(0, 0, 0, 0.61);
margin-bottom: 24px;
margin-top: 24px;
}

.logout {
color: #64ffda;
background: rgba(255, 255, 255, 0.04);
padding: 4px 8px;
border-radius: 6px;
font-size: 1rem;
height: 100%;
cursor: pointer;
}

.logout:hover {
background: rgba(100, 255, 218, 0.1);
border-color: rgba(100, 255, 218, 0.4);
}



@media (max-width: 1149px) {

.dashboard-wrapper h2{
  font-size: 1.5rem;
}
.dashboard-wrapper p{
  font-size: 1rem;
}

.logout {
  font-size: 1rem; 
}

.information-part{
  display: flex;
  justify-content: space-between;
  padding-left: 25px;
  padding-right: 25px;
}


.grid {
  display: grid;
  gap: 16px;
  margin-bottom: 24px;
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-2 {
  grid-template-columns: repeat(2, 1fr);
}


.grid-4 {
  grid-template-columns: repeat(3, 1fr);
}


}

@media (max-width: 1025px){
.dashboard-wrapper h2{
  font-size: 1.3rem;
}
.dashboard-wrapper p{
  font-size: 1rem;
}

.logout {
  font-size: 1rem; 
}

.dashboard-wrapper h3{
  font-size: 1.1rem;
}

}


@media (max-width: 900px){
.dashboard-wrapper h2{
  font-size: 1.2rem;
}
.dashboard-wrapper p{
  font-size: 0.9rem;
}

.logout {
  font-size: 0.9rem; 
}

.dashboard-wrapper h3{
  font-size: 1rem;
}

.grid-4 {
  grid-template-columns: repeat(2, 1fr);
}

.label{
  font-size: 0.9rem;
}
.value{
  font-size: 0.9rem;

}
}

@media (max-width: 700px){
.dashboard-wrapper h2{
  font-size: 1rem;
}
.dashboard-wrapper p{
  font-size: 0.85rem;
}
.logout {
  font-size: 0.85rem; 
}

.dashboard-wrapper h3{
  font-size: 0.9rem;
}

.grid-4 {
  grid-template-columns: repeat(1, 1fr);
}

.label{
  font-size: 0.9rem;
}
.value{
  font-size: 0.9rem;

}
}

@media (max-width: 650px){
.dashboard-wrapper h2{
  font-size: 1rem;
}
.dashboard-wrapper p{
  font-size: 0.85rem;
}

.logout {
  font-size: 0.85rem; 
}

.dashboard-wrapper h3{
  font-size: 0.9rem;
}

.grid-4 {
  grid-template-columns: repeat(1, 1fr);
}

.label{
  font-size: 0.9rem;
}
.value{
  font-size: 0.9rem;

}

.grid-3 {
  grid-template-columns: repeat(1, 1fr);
}

}

@media (max-width: 500px){
.dashboard-wrapper h2{
  font-size: 1rem;
}
.dashboard-wrapper p{
  font-size: 0.85rem;
}

.logout {
  font-size: 0.85rem; 
}

.dashboard-wrapper h3{
  font-size: 0.9rem;
}

.grid-4 {
  grid-template-columns: repeat(1, 1fr);
}

.label{
  font-size: 0.9rem;
}
.value{
  font-size: 0.9rem;

}

.grid-3 {
  grid-template-columns: repeat(1, 1fr);
}

.dashboard-wrapper {
  width: calc(100vw - 5px);   
  max-width: 1600px;             
  margin: 25px auto;             
  padding: 25px;                
  min-height: calc(100vh - 50px);
  border-radius: 50px;
  background-color: #272b3350;
  box-sizing: border-box;
  overflow-x: hidden;
}

.information-part{
display: flex;
justify-content: space-between;
padding-left: 5px;
padding-right: 5px;
}


.grid {
display: grid;
gap: 6px;
margin-bottom: 24px;
}


}